.categories-menu {
	overflow: hidden;
}
.categories-menu-header {
	margin-bottom: 20px;
}
.categories-menu-title {
	font-size: 21px;
	line-height: 24px;
	display: inline;
	margin: 0 0 0 10px;
}
.categories-menu-row {
	display: flex;
	padding: 5px 0;
	flex-wrap: wrap;
	margin-right: -1px;
	list-style: none;
	background-color: #f1f6f9;
	}
	.categories-menu-row > li {
		position: relative;
		display: inline-block;
		width: 10%;
		margin: 5px 0;
		vertical-align: top;
		color: #363636;
		text-align: center;
		border-right: 1px solid #707070;
		}
		.categories-menu-row > li:last-child {
			border-right: none;
		}

.categories-menu-link {
	display: block;
	color: #363636;
	text-decoration: none;
	transition: color 0.4s;
	}
	.categories-menu-link:hover,
	.categories-menu-link:focus {
		color: #006fdb;
	}

.categories-alphabet {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 14px;
	padding: 5px 0 5px 20px;
	border-top: 1px solid #707070;
	border-bottom: 2px solid #5c5c5c;
}

.categories-alphabet-prefix {
	margin-right: auto;
}

.categories-alphabet-char {
	position: relative;
	padding: 8px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	}
	.categories-alphabet-char:after {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 0;
		height: 0;
		margin: 0 auto;
		border: 8px solid transparent;
		border-top-color: #f08400;
		margin-top: 7px;
		filter: drop-shadow(0 1px 0 #5c5c5c) drop-shadow(0 -1px 0 #5c5c5c);
		transform: scaleX(0.75) translateY(5px);
		opacity: 0;
		transition: all 0.4s;
		content: '';
	}
	.categories-alphabet-char.active:after {
		transform: scaleX(0.75) translateY(0);
		opacity: 1;
	}

.categories-list {
	list-style: none;
	margin-top: 15px;
	max-height: 400px;
	overflow: auto;
	scroll-behavior: smooth;
}

.categories-list-char {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: black;
	padding: 15px;
}
.categories-list-item {
	display: inline-block;
	width: 20%;
	padding: 7px 15px;
	vertical-align: top;
}
.categories-list-link {
	text-decoration: none;
	}
	.categories-list-link:hover,
	.categories-list-link:focus {
		text-decoration: underline;
	}
.categories-list-not-found {
	color: #777;
	padding: 7px 15px;
}

.categories-popup {
	position: relative;
	}
	.categories-popup .mobile-header {
		display: none;
		background: white;
		padding-top: 25px;
		padding-bottom: 25px;
	}

@media screen and (max-width: 980px) {
	.categories-menu-row {
		margin: -10px;
		background: none;
	}
	.categories-menu-row > li {
		width: 14.28%;
		border: none;
		padding: 10px;
	}
	.categories-menu-link {
		color: #023e79;
	}
}

@media screen and (max-width: 680px) {
	.categories-menu-row > li {
		width: 33.3%;
		border: none;
		padding: 10px;
	}

	.categories-popup .popup-title {
		font-size: 16px;
	}
	.categories-popup .popup-body {
		position: relative;
		padding: 0;
	}
	.categories-popup .mobile-header {
		display: block;
	}
	.categories-popup .popup-close-btn {
		position: absolute;
		top: 22px;
		right: 15px;
	}
	.categories-popup .categories-alphabet-prefix {
		display: none;
	}
	.categories-popup .categories-alphabet {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 45px;
		padding: 0;
		display: block;
		border: none;
	}
	.categories-popup .categories-list-item {
		display: block;
		width: auto;
		padding: 0;
		font-size: 20px;
		line-height: 24px;
	}
	.categories-popup .categories-list-link {
		display: block;
		color: #006fdb;
		padding: 12px 40px 12px 15px;
	}
	.categories-popup .categories-list-link:hover,
	.categories-popup .categories-list-link:focus {
		color: white;
		font-weight: bold;
		background-color: #f08400;
	}
	.categories-popup .categories-alphabet-char {
		display: block;
		text-align: center;
		}
		.categories-popup .categories-alphabet-char:after {
			width: 24px;
			height: 2px;
			margin: -4px auto 0 auto;
			background: #023e79;
			border: none;
			filter: none;
		}
	.categories-popup .categories-list {
		max-height: none;
	}
}